<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Hello Function Component</title>
    <script src="https://unpkg.com/react@18/umd/react.development.js"></script>
    <script src="https://unpkg.com/react-dom@18/umd/react-dom.development.js"></script>

    <!-- Don't use this in production: -->
    <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
    <style>
      .title {
        color: burlywood;
      }
    </style>
  </head>
  <body>
    <div id="root"></div>
    <script type="text/babel">
      const container = document.getElementById("root");
      const root = ReactDOM.createRoot(container);

      // 函数组件适用于简单组件（无 state）
      // 目前来说 更加倾向于适用函数组件（具体的跟着项目走）
      function FunComponent() {
        console.log(this); // this 指向 undefined，因为 babel 开启了严格模式
        return <div>我是函数式组件</div>;
      }

      root.render(<FunComponent />);
    </script>
  </body>
</html>
