.item button {
  display: none;
  background-color: red;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 14px;
  height: 30px;
  cursor: pointer;
}

li {
  text-align: left;
  list-style: none;
  line-height: 40px;
  padding: 0 5px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

li:hover button {
  display: block;
}

li:hover{ 
  background-color: #f0f0f0;
  color: #000000;
}

label {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  align-items: center;
  width: 100%;
}
