.user__container, .son__container, .grandson__container{ 
  padding: 8px;
}

.user__container { 
  border:1px solid black;
  width: 400px;
}

p {
  line-height: 1.5;
  font-size: 16px;
}

.son__container {
  margin-top: 10px;
  background-color: blue;
}

.grandson__container {
  margin-top: 10px;
  background-color: #437B95;
}

h2 {
  font-size: 20px;
  line-height: 32px;
}

.son-two__container {
  background-color: #cccccc;
}
